# ==========================================
# CONFIGURATION SERVEUR PERSONNELLE
# ==========================================

# 🌐 Paramètres Généraux
TZ=Europe/Paris

# 🎬 Mon Letterboxd
# Clé API The Movie Database (TMDB) pour l'affiche et les métadonnées des films/séries
VITE_TMDB_API_KEY=votre_cle_tmdb_ici

# 📧 Assistant Gmail IA & Gemini
# Clé Google Gemini (Gratuit sur https://aistudio.google.com/app/apikey)
GEMINI_API_KEY=votre_cle_gemini_ici

# Identifiants Gmail (Utiliser un Mot de passe d'application Google)
GMAIL_USER=votre.adresse@gmail.com
GMAIL_APP_PASSWORD=abcd efgh ijkl mnop
